@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.lora {
  font-family: "Lora", serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease forwards;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e0f2b;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b63aff;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a12be0;
}

/* Custom slow bounce animation */
@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .animate-slide {
    animation: slide 20s linear infinite;
  }
}

@keyframes floatPulse {
  0% {
    transform: translateY(0) scale(1);
    box-shadow: 0 10px 30px 5px rgba(182, 58, 255, 0.5);
  }
  50% {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 15px 40px 10px rgba(182, 58, 255, 0.7);
  }
  100% {
    transform: translateY(0) scale(1);
    box-shadow: 0 10px 30px 5px rgba(182, 58, 255, 0.5);
  }
}

.animate-floatPulse {
  animation: floatPulse 3s ease-in-out infinite;
}
